<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <meta name="keywords" content="Fajar, Fajar Buana, Fajar Buana Hidayat" />
  <meta name="description" content="Lihat profil Fajar Buana Web Developer." />
  <meta name="twitter:description" content="Lihat profil Fajar Buana Web Developer" />
  <meta property="og:title" content="Fajar Buana - Web Developer - Fajar Buana Hidayat | Profile" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://fajarbuana.vercel.app/"/>
  <meta property="twitter:title" content="Fajar Buana - Web Developer - Fajar Buana Hidayat | Profile" />
  <meta name="theme-color" content="#000000" />
  <meta name="google-site-verification" content="DEUeXVgUp-hFfhNxAIoXQHqCtH8tUWfcrto2KHvetjA" />
  <title>Fajar Buana | Web Developer</title>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>
<script>
  //Javascript to toggle the menu
  document.getElementById('nav-toggle').onclick = function () {
    document.getElementById("nav-content").classList.toggle("hidden");
  }
</script>

</html>